---
import '../styles/global.css';

type Props = {
  title?: string;
  description?: string;
  type?: string;
  image?: string;
};
const {
  title = 'faqpy',
  description = 'heya im faqpy, a self-taught web dev and programmer. check out my personal portfolio and projects on github. feel free to reach out to me on discord or mail me!',
  type = 'website',
  image = 'https://api.lanyard.rest/600698629501616138.webp',
} = Astro.props satisfies Props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site || Astro.url);
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/png" href="/favicon.png" />
<meta name="generator" content={Astro.generator} />

<link rel="canonical" href={canonicalURL} />

<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<meta property="og:type" content={type} />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />